modules = ["nodejs-20"]
[agent]
integrations = ["javascript_log_in_with_replit==1.0.0", "javascript_websocket==1.0.0", "javascript_object_storage==1.0.0", "javascript_database==1.0.0", "javascript_anthropic==1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-0f160c75-e6a2-46b0-b55d-ce81e072a79d"

[nix]
channel = "stable-25_05"
