modules = ["nodejs-20", "postgresql-16"]
[agent]

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-0f160c75-e6a2-46b0-b55d-ce81e072a79d"

[nix]
channel = "stable-25_05"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".tsx"]
id = "module:nodejs-20/languageServer:typescript-language-server"
